{% include "nav.html" %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login-register.css') }}">
<body>
    <div class="l-r-body">
        <div class="l-r-container">
            <h2 class="l-r-title">Iniciar sesion</h2>
            <form method="POST" action="/login" class="l-r-form">
                <label for="usuario">Email:</label><br>
                <input type="email" id="email" name="email"><br>
                <label for="contraseña">Contraseña:</label><br>
                <input type="password" id="contraseña" name="contraseña"><br><br>
                <input class="l-r-buttom" type="submit" value="Iniciar sesión">
            </form>
            {% if mensaje %}
                <p>{{ mensaje }}</p>
            {% endif %}

            <p class="l-r-p">¿No tienes una cuenta? <a href="/register">Registrate</a></p>
        </div>
    </div>
</body>
</html>