<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar fija con Flask</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">
</head>
<body>

<div class="navbar">
    <a href="/login">Iniciar sesion</a>
    <a href="/">Inicio</a>
    <!--<a href="#contacto">Contacto</a>-->
</div>