{% include "nav.html" %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login-register.css') }}">
<body>
    <div class="l-r-body">
        <div class="l-r-container">
            <h2 class="l-r-title">Registrarse</h2>
            <form method="POST" action="/register" class="l-r-form">
                <label for="usuario">Email:</label>
                <input type="email" id="email" name="email">
                <label for="contraseña">Contraseña:</label>
                <input type="password" id="contraseña" name="contraseña">
                <label for="contraseña">Nombre:</label>
                <input type="text" id="nombre" name="nombre">
                <label for="contraseña">Telefono:</label>
                <input type="number" id="telefono" name="telefono">
                <input class="l-r-buttom" type="submit" value="Crear cuenta">
            </form>
            {% if mensaje %}
                <p>{{ mensaje }}</p>
            {% endif %}
            <p class="l-r-p">¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a></p>
        </div>
    </div>
</body>
</html>
